/* Contenedor principal */
.video-container {
    position: relative;
    width: 100vw; /* Ocupa el 100% del ancho de la ventana */
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
    overflow: hidden;
}

/* Video y canvas */
video, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra toda la pantalla */
}

/* Canvas (superpuesto sobre el video) */
canvas {
    z-index: 1;
}